*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face{
    font-family: 'gotham';
    src: url(../images/career/career.jpg) format('truetype') ;
    font-weight: 100;

}
.section-1{
    background-image: url(../images/career/career.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
   
}
.navbar-brand img{
    width: 177px;
}
.nav-link{
    color: seashell;
    padding: 50px;
}
.nav-link:hover{
    text-decoration: underline;
    color: seashell;
}
.main-container{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.main-container h1{
    color:#fff;
    font-size: calc(26px + 4.2vw);
    line-height: calc(14px + 4.2vw);
    font-family: 'PT serif', serif;
    transform: translateX(12vw);
    
}
.main-container h1 span{
    font-family: 'gotham';

}
.scroll{
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;
    margin-bottom: 5em;
}
.scroll p {
    font-family: 'gotham';
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.main-container p{
    color: seashell;
    text-align: start;
    font-size: 4rem;
    padding-left:21%;
    font-family: unset;
    font-weight: lighter;
    letter-spacing: 6px;
}
.scroll button{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 30px;
    transform: translateY();
}
.scroll button svg{
    fill: #fff;
    transform: rotate(90deg);
}
.main-content{
    width: 70%;
}
.section2-content {
   padding: 100px 0;

}
.figure img{
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.para-1{
    font-size: 200%;
    text-align: center;
    letter-spacing: 0.3px;
    font-family:'PT serif', serif;
    font-weight:400;
    color: rgb(73, 70, 70);
}
.col{
    padding-right: 10%;
}
.s3-para,
.s2-para{
    display: flex;
    text-align: left;
    font-family: unset;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 60%;
    font-size: 15px;
    padding-top: 2%;

}
.s3-head,
.s2-head{
    font-size: 40px;
    font-weight: 100;
    color: rgb(79, 76, 76);
    padding-top: 5%;
    font-family: 'PT serif', serif;
    letter-spacing: 2px;
}
.section-3,
.section-2{
    background-color: #fff;
    /* height: 100vh; */
    background-size: cover;
}
.content3,
.content2{
    margin:6%
}
.figure-sec-3,
.figure-sec-2 {
    width: 80%;
    height: 100%;
    object-fit: fill;
}
.pressbar {
    color: #333333;
    text-decoration: none;
    border: 1px solid #444343;
    padding: 5% 20%;
    background-color: #fff;
}
.pressbar:hover {
    background-color: #e9e9e9b6;
}
/***hamburgermenu**/
.inner-pages{
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: 1s;
    transform: translateY(-100%);
}
.inner-pages.active{
    transform: translateY(0%);
}
.inner-pages nav img{
    width: 32px;

}
.inner-pages ul li{
    font-family: 'PT serif',serif;
    font-size: 48px;
    color: #fff;
    list-style-type: none;
    text-align: center;
}
.inner-pages nav{
    color: #fff;
    padding: 30px 0;
    position: absolute;
    width:100%;
    left: 0;
    right: 0;

}
.inner-pages .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
.inner-pages .list a{
    text-decoration: none;
}
.inner-pages .list a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.inner-pages .list a:visited{
    color: #fff;
    text-decoration: none;
}

.close-menu{
    cursor: pointer;
}
.menu-icon{
    width: 18px;
    height: 14px;
    position: relative;
    margin-top: 7px;
}
.menu-icon span{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.menu-icon span:before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #fff;
}
.menu-icon span:after{
    content: '';
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: #fff;
} 
