html {
    background-color: black;
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    margin: 25px;
    display: flex;
    flex-direction: row;
}

img {
    width: 250px;
    height: 250px;
}

.navigation {
    align-content:end;
    margin: 20px 20px 20px 100px;
    padding: 10px;
    text-align: center;
    align-content: center; 
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

li {
    padding: 10px;
    margin: 20px 20px 20px 100px;
}


li a {
    text-decoration:none;
    color: white;
}

li:hover {
    text-decoration: underline;
    color: white;
}

.grid_container div img {
    height: 100% ;
    width: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 100px;
    margin-bottom: 100px;
}

.grid_container div div {
    padding: 5px;
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 25px;
}
