*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
.firstSection {
    background-color: black;
}
.navbar-brand img{
    width: 177px;
}
.nav-link{
    color: seashell;
    padding: 50px;
}
.nav-link:hover{
    text-decoration: underline;
    color: seashell;
}
.main-container{
    display: flex;
    height: 100%;
    align-items: center;
    
}
/***** footer  *****/
.footer{
    background-color: #161f1e;
    padding: 10% 0;
}
.lastSection{
    display: flex;
    justify-content: space-around;

}
.lastSection ul{
    padding: 0;
}
.lastSection ul li{
    color: #fff;
    list-style: none;

}
.logo-img{
    width:52px;
}
.footer p{
    color: rgba(255, 255, 255, 0.575);
}


/**one worlds**/
body {
    background-color: #000;
}

.gallery-margin h1 {
    font-family:'PT serif',sans-serif;
    text-transform: uppercase;
    font-size: .85rem;
    padding: 0;
    margin-top: 16px; 
    color: honeydew;
}
.gallery-margin p {
    color: #777;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 0px;
}
.gallery-container{
    margin-left: 10px; 
    max-width: 98%;
    margin-right: 10px;

}
.gallery-margin{
    margin-bottom: 60px;

}
.gallery-container {
    padding-top: 103px;
}